.navigationItems {
    list-style: none;
    flex-flow: row;
    display: flex;
    margin: auto 20px;
    padding: 0;
    width: 100%;
    color: black;
    justify-content: space-between;
    font-weight: 600;
}

.navigationItem {
    margin: 5px;
}

.navigationItem a {
    text-decoration: none;
    color: black;
}